<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="false"
        android:label="وصلها كابتن"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaslhaCaptain">
        <activity android:name=".CaptainNotificationsActivity" android:exported="false" />
        <activity android:name=".CaptainAccountCenterActivity" android:exported="false" />
        <activity android:name=".CaptainEarningsActivity" android:exported="false" />
        <activity android:name=".CaptainTripActivity" android:exported="false" />
        <activity android:name=".CaptainActivityV2" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
