<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".WaslhaApplication"
        android:allowBackup="true"
        android:icon="@drawable/waslha_brand_logo"
        android:roundIcon="@drawable/waslha_brand_logo"
        android:label="وصلها"
        android:supportsRtl="true"
        android:theme="@style/Theme.Waslha">
        <activity android:name=".LaunchActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UpdateGateActivity" android:exported="false" />
        <activity android:name=".AuthActivity" android:exported="false" />
        <activity android:name=".GoogleSignInActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".SafeTaxiActivity" android:exported="false" />
        <activity android:name=".TaxiBookingActivity" android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
